body{ 
    font-family: "Roboto", sans-serif; 
    font-size: 16px; 
    line-height: 24px; 
    letter-spacing: 2%; 
    color: #434455; 
    background-color:#ffffff; 
} 
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

img{ 
    display: block 
} 
a{ 
    text-decoration:none; 
} 
h1,h2,h3,h4,h5,h6,p{ 
    margin: 0%; 
 
} 
.headerer{ 
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
} 
.divnav{ 
    display: flex; 
    align-items: center;
} 
.navigation{ 
    display: flex; 
    align-items: center; 
 
} 
ul{ 
    list-style: none; 
    margin: 0%; 
    padding-left: 0%; 
} 
.listu{
    position: relative;
    color: #404bbf;
}

.ulstudio{
    display: flex;
    gap: 40px
}
.ulmail{
    display: flex;
    gap: 40px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding-top: 24px;
    margin-right: 76px;
    padding-bottom: 24px;
}

.logo___ {
    color: #2e2f42;
}
.navigation a {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  
  .navigation .listu a:first-child {
    color: #404bbf;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .navigation .listu a {
    margin-right: 76px;
  }
.studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding: 24px 0;
    display: block;
    position: relative;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio::after{
    content:"";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.studio:hover, 
.studio:focus{ 
    color:#404bbf;
    
} 
 
.adressa{ 
    font-style: normal; 
    margin-left: auto;
} 
.mail{ 
    font-size: 16px; 
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    color: #434455; 
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.mail:hover, 
.mail:focus{ 
    color:#404bbf; 
} 
 
.element{ 
    background-color: #2E2F42; 
    padding: 188px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 1440px;

} 
 
.zahol{ 
    font-weight: bold; 
    font-size: 56px; 
    letter-spacing: 0.02em; 
    line-height: 1.07; 
    text-align: center; 
    color: #ffffff; 
    max-width: 496px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
} 
.button{ 
    font-family: "Roboto", sans-serif; 
    font-weight: 500; 
    font-size: 16px; 
    line-height: 24px;  
    background-color: #4D5AE5; 
    letter-spacing: 0.04em; 
    color: #ffffff; 
    cursor: pointer; 
    display: block; 
    min-width: 169px; 
    height: 56px; 
    border: none; 
    background-color: #4d5ae5; 
    border-radius: 4px; 
    cursor: pointer; 
    margin-left: auto;
    margin-right: auto;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 } 
 .elemento{ 
    padding: 120px 0; 
 } 
 .ulstrateg{ 
    display: flex; 
    gap: 24px; 
 
 } 
 .ourgoal{ 
    width: calc((100% - 72px) / 4);
 } 
 .anten-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
 }
 .button:hover, 
 .button:focus{ 
    background-color:#404bbf; 
 } 
 .visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 } 
 .puncts{ 
    font-weight: 500; 
    font-size: 20px; 
    line-height: 1.2; 
    color:#2E2F42; 
    letter-spacing:0.02em; 
 } 
 .strategy{ 
    font-weight: 500; 
    font-size: 20px; 
    line-height: 1.2; 
    letter-spacing: 0.02em; 
    color: #2E2F42; 
    margin-bottom: 8px; 
 } 
 
 .strateg{ 
    font-size: 16px; 
    line-height: 1.5; 
    letter-spacing: 0.02em; 
    color:#434455; 
 } 
 
 .photo{ 
    background-color: #F4F4FD ; 
    padding: 120px 0; 
 
 } 
 .zaholovok{ 
    font-size: 36px; 
    line-height: 1.11; 
    text-align: center; 
    letter-spacing: 0.02em; 
    text-transform: capitalize; 
    color: #2E2F42; 
    margin-bottom: 72px; 
 
 } 
 .ulspys{ 
    display: flex; 
    gap: 24px; 
 } 
.spys{ 
    background-color: #FFFFFF; 
    width: calc((100% - 72px) / 4); 
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
} 
.divimya{ 
    padding: 32px 0; 
} 
 .mark{ 
    letter-spacing: 0.02em; 
    color: #2E2F42; 
    font-weight: 500; 
    font-size: 20px; 
    line-height: 1.2; 
    text-align: center; 
    margin-bottom: 8px; 
 
 } 
 .img-icon{
    position: relative;
    overflow: hidden;
 }
.product{ 
    font-size: 16px; 
    line-height: 1.5 ; 
    letter-spacing: 0.02em; 
    color:#434455; 
    text-align: center; 
} 
.icon-list{
    display: flex;
    gap: 24px;
    width: 232px;
    height: 40px;
    justify-content: center; 
}
.icon-item{
    width: 40px;
    height: 40px;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-icon{
    fill: #F4F4FD;
}
.icon-link:hover,
.icon-link:focus{
    background-color:#404bbf;
}
.spys_{ 
    background-color: #FFFFFF; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.ourportmane{ 
    padding: 120px 0 120px 0; 
} 
.our_portfolio{ 
    font-size: 36px; 
    line-height: 1.11; 
    text-align: center; 
    letter-spacing: 0.02em; 
    text-transform: capitalize; 
    color:#2E2F42; 
    margin-bottom: 72px; 
} 
.ulapp{ 
    display: flex; 
    flex-wrap: wrap; 
    column-gap: 24px; 
    row-gap: 48px; 
} 
.ulappino{ 
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} 
.ulappino:hover{
    transform: translateY(0%);
}
.img-icon{
    position: relative;
    overflow: hidden;
}
.bank-app{ 
    font-weight: 500; 
    font-size: 20px; 
    line-height: 1.2; 
    letter-spacing: 0.02em; 
    color: #2E2F42; 
    margin-bottom: 8px;
} 
.bank-appino{ 
    padding: 32px 16px; 
    border: 1px solid #e7e9fc; 
    border-top: none; 
} 
.app_{ 
    font-size: 16px; 
    line-height: 1.5; 
    letter-spacing: 0.02em;
    color: #434455; 
} 
.div-p{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--p-color);
    padding: 40px 32px;
    background-color: #4d5ae5; 
    height: 100%;
    width: 100%;
    transform: translateY(100%); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.footer{ 
    background-color:#2e2f42; 
    padding: 100px 0; 
 
} 
.logo__{ 
    font-family: "Raleway", sans-serif; 
    font-weight: 700; 
    font-size: 18px; 
    line-height: 1.17; 
    letter-spacing: 0.03em ; 
    text-transform: uppercase; 
    color: #4d5ae5; 
} 
.span-_{ 
    color: #F4F4FD; 
} 
.increase{ 
    line-height: 1.5; 
    color:#F4F4FD; 
    letter-spacing: 0.02em; 
    max-width: 264px; 
} 
 
.footer-logo
.logo-part{ 
    color: #F4F4FD; 
} 
.footer-logo{ 
    display: inline-block; 
    margin-bottom: 16px; 
} 
.logo-part{ 
    color:#2e2f42 
}
.logofot{
    font-family: "Raleway", sans-serif; 
    font-weight: 700; 
    font-size: 18px; 
    line-height: 1.17; 
    letter-spacing: 0.03em; 
    text-transform:uppercase; 
    color: #4d5ae5; 
}
.div-footerer{
    display: flex;
    align-items: baseline;
}
.div-svg container{
    margin-right: 120px;
}
.svg-footer{
    display: flex;
    gap: 16px; 
}
.social-media{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 16px;
}