body{
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

h1{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 60px;
}
h2{
    font-family: "Roboto";
    font-weight:bold;
    font-size: 36px;
    letter-spacing: 2%;

}

h3{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
}
a{
    font-family: "Roboto";
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 4%;
}
.element1{
    background-color: #2E2F42;
    color: white;

}
button{
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    background-color: #404BBF;
 }