body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    background-color:#ffffff;
}
a {text-decoration: none;}
ul {list-style: none;}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform:uppercase;
    color: #4d5ae5;
}
.logo___{
    color:#2e2f42;
}
.studio{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.studio:hover,
.studio:focus{
    color:#404bbf;
}

.adressa{
    font-style: normal;
}
.mail{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.mail:hover,
.mail:focus{
    color:#404bbf;
}

.element{
    background-color: #2E2F42;
}

.zahol{
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    color: #ffffff;
}
.button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    background-color: #4D5AE5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
 }
 .button:hover,
 .button:focus{
    background-color:#404bbf;
 }
 
 .puncts{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color:#2E2F42;
    letter-spacing:0.02em;
 }
 .strategy{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
 }

 .strateg{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
 }

 .photo{
    background-color: #F4F4FD ;
 }
 .zaholovok{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
 }
.spys{
    background-color: #FFFFFF;
}
 .mark{
    letter-spacing: 0.02em;
    color: #2E2F42;
 }
.product{
    font-size: 16px;
    line-height: 1.5 ;
    letter-spacing: 0.02em;
    color:#434455;
}
.spys_{
    background-color: #FFFFFF;
}

.our_portfolio{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2E2F42;
}
.bank-app{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.app_{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer{
    background-color:#2e2f42;

}
.logo__{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em ;
    text-transform: uppercase;
    color: #4d5ae5;
}
.span-_{
    color: #F4F4FD;
}
.increase{
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}